.section-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-primaria);
    font-family: var(--fonte-principal);
    padding: 6em;
}   

.section-intro__subtitle {
    color: var(--cor-destaque);
    font-weight: 600;
    font-size: 1em;
    line-height: 1.5em;
    margin-bottom: -2.5em;
 }

.section-intro__title {
    color: var(--cor-terciária);
    font-weight: 600;
    font-size: 3em;
    line-height: 3.75em;
    margin-bottom: -0.5em;
 }

.section-intro__text {
    color: var(--cor-secundaria);
    font-weight: 400;
    font-size: 1.25em;
    line-height: 1.5em;
    text-align: center;
    margin: 0 5em;
 }