@import url(../styles/menu.css);
@import url(../styles/intro.css);
@import url(../styles/metrics.css);
@import url(../styles/carreiras.css);
@import url(../styles/vagas.css);
@import url(../styles/depoimentos.css);
@import url(../styles/footer.css);

:root {
    --cor-primaria: #FFFFFF;
    --cor-secundaria: #667085;
    --cor-terciária: #101828; 
    --cor-destaque: #8E2424;
    --cor-borda: #EAECF0; 
    --cor-destaque-bg: #C3191905 ; 
    --cor-footer-bg: #F9FAFB;
    --cor-input-border:#D0D5DD;
    --cor-copyright: #98A2B3; 

    

    --fonte-principal: "Inter", sans-serif;
}