.job-listings {
    
    font-family: var(--fonte-principal);
    
 }

.job-listings__categories {
    
    padding: 0 16em;
    margin-bottom: 4em;

 }

.job-listings__category-title {
   
    font-weight: 500;
    font-size: 1.25em;
    line-height: 1.8em;
    margin-bottom: 2em;

 }

.job-item {

    border: 1px solid var(--cor-borda);
    border-radius: 1em;
    padding: 1.5em 1.5em 1.75em 1.5em;
    margin-bottom: 2em;

 }

.job-item__role {

    font-weight: 500;
    font-size: 1.125em;
    line-height: 1.75em;
    margin-bottom: 2em;

 }

.job-item__info {
    
    display: inline-flex;
    color: var(--cor-secundaria);
    font-weight: 500;
    font-size: 1em;
    line-height: 1.5em;
    gap: 1.5em;

 }